body {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: #000000;
}

.logo h1 {
  font-size: 24px;
  line-height: 24px;
  font-family: 'Curpum', 'Arial', sans-serif;
  color: #ffffff;
}

.info h2 {
  font-size: 30px;
  font-family: 'Curpum', 'Arial', sans-serif;
}
