body {
  min-width: 960px;
  margin: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.info h2 {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.page-header-top {
  background-color: #33445a;

  color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;

  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

.btn {
  display: block;
  width: 195px;
  padding: 12px 12px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #ff5357;
  border-radius: 2px;
}

.logo {
  float: left;
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;

  background-color: #ff5357;
  -webkit-box-shadow: 0 5px 0 0 #c23f42;
          box-shadow: 0 5px 0 0 #c23f42;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.logo a {
  display: block;
  padding: 10px 10px 9px;

  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a:active {
  background-color: #ba2732;
}

.logo:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
          box-shadow: 0 5px 0 0 #9a212a;
}

.logo h1 {
  margin: 0;
}

.search {
  float: left;
  position: relative;
  width: 270px;

  font-size: 0;
}

.input-search {
  display: inline-block;
  width: 270px;
  padding: 13px 5px 11px 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #33445a;
  border: none;
}

.input-search::-webkit-input-placeholder,
.input-search::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.input-search::-moz-placeholder,
.input-search::-moz-placeholder {
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.search label {
  position: relative;
  display: inline-block;
  vertical-align: top;

  font-size: 0;
}

.search label::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -250px;

  width: 17px;
  height: 17px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -733px;
  opacity: 0.3;
}

.input-search:hover {
  background-color: #212a3a;
}

.input-search:hover+label::before {
  opacity: 1;
}

.input-search:focus {
  font-size: 17px;
  font-weight: normal;
  line-height: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: none;
  outline: none;
}


.input-search:focus + label::before {
  z-index: 1;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -760px;
  opacity: 1;
}

.links {
  float: right;
  width: 450px;
  font-size: 0;
}

.bookmarks,
.cart,
.checkout {
  display: inline-block;
  width: 150px;
  padding: 12px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font-size: 17px;
  font-weight: normal;
  line-height: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.bookmarks,
.cart {
  position: relative;
  padding-left: 44px;

  background-color: #33445a;
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  background-color: #161d29;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:hover:active,
.cart:hover:active {
  opacity: 0.5;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 14px;
  height: 16px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -186px;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;

  width: 17px;
  height: 16px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -160px;
  opacity: 0.3;
}
.cart {
  padding: 11px 10px 13px 48px;
}
.cart.cart-full {
  background-color: #ee3643;
}

.checkout {
  text-align: center;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.page-header-bottom {
  padding-top: 45px;
  /*margin-bottom: 10px;*/

  background-color: #f3f7f9;
}

.site-description {
  float: left;
  width: 310px;
  margin-right: 10px;
  padding: 4px 53px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ff5357;
}

.page-header-bottom .contacts {
  float: left;
  /*Или 300?*/
  width: 270px;
  margin-right: 50px;
}

.contacts .tel {
  display: block;
  position: relative;
  padding: 12px 5px 9px 70px;

  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fb463c;

  border: solid 3px #ffffff;
}

.contacts .tel::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 13px;

  width: 19px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -654px;
}

.contacts .address {
  display: block;
  padding: 5px 5px 0 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #3d546e;
  text-align: center;
}

.user-block {
  float: right;
  width: 300px;

  text-align: right;
}

.btn-user-block {
  display: inline-block;
  padding: 14px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  text-decoration: none;

  background-color: #ffffff;
}

.btn-user-block.login {
  position: relative;
  width: 120px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: left;
}

.btn-user-block.login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;

  width: 20px;
  height: 17px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -546px;
}

.btn-user-block.registration {
  width: 150px;
  margin-left: 10px;
}

.btn-user-block.user-name {
  position: relative;
  width: 240px;
  padding-left: 40px;
  padding-right: 5px;
}

.btn-user-block.user-name::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;

  top: 13px;
  left: 15px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -787px;
}

.btn-user-block.logout {
  position: relative;
  width: 60px;
  padding-left: 30px;
  margin-left: -5px;
  font-size: 0;
}

.btn-user-block.logout::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 17px;

  top: 15px;
  right: 11px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -600px;
}

.btn-user-block:hover {
  color: #ee3643;
}

.btn-user-block:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-user-block.login:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -573px;
}

.btn-user-block.logout:hover::before {
  background-position: -5px -627px;
}

.btn-user-block.user-name:hover {
  color: #000000;
}

.btn-user-block.user-name:hover::before {
  background-position: -5px -815px;
}

.btn-user-block.login:active::before,
.btn-user-block.user-name:active::before,
.btn-user-block.logout:active::before {
  opacity: 0.3;
}


.btn-user-block.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav {
  padding: 3px 13px;
  text-align: left;
}

.user-nav ul {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.user-nav li {
  display: inline-block;
  vertical-align: middle;

  font-size: 16px;
}

.user-nav .user-info {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;

  text-decoration: underline;
}

.user-nav li:first-child .user-info {
  position: relative;
  padding-right: 30px;
}

.user-nav li:first-child .user-info::after {
  position: absolute;
  display: block;
  content: "";

  width: 4px;
  height: 4px;

  top: 8px;
  right: 10px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-nav .user-info:hover {
  color: #ee3643;
}

.user-nav .user-info:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-menu {
  margin-top: 36px;
  margin-bottom: 60px;
  text-align: center;

  background-color: #3d546e;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;

  font-size: 17px;
}

.main-menu a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.features {
  margin-top: 63px;
  margin-bottom: 53px;
}

.features-item {
  position: relative;
  float: left;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 20px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}
.features-item p {
  margin: 0;
  margin-bottom: 13px;
}

.features-item a {
  display: block;
  width: 135px;
  padding: 10px 5px;
  margin-left: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.features-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.container-row:first-child .features-item:not(:last-child) {
  margin-right: 20px;
}

.container-row:first-child .features-item:nth-child(3) {
  float: right;
}

.container-row:last-child .features-item:last-child {
  margin-bottom: 0;
}

.container-row:first-child .features-item:first-child {
  background: #f6b22d;
}

.container-row:first-child .features-item:first-child::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;

  width: 44px;
  height: 65px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -865px;
}

.container-row:first-child .features-item:nth-child(2) {
  background: #3bbce3;
}

.container-row:first-child .features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -1012px;
}

.container-row:first-child .features-item:nth-child(3) {
  background: #dc91d8;
}

.container-row:first-child .features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;

  width: 78px;
  height: 62px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -940px;
}
/*чтото тут кривое с псевдоклассами*/
.container-row:last-child .features-item:nth-child(2) {
  background: #8ed78f;
}

.container-row:last-child .features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -78px;
}

.container-row:last-child .features-item:last-child {
  background: #ffc047;
}

.container-row:last-child .features-item:last-child::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
}

.label-new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 60px;

  background: transparent url("../img/flag-new.png") no-repeat;
}

.slider {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  margin-right: 20px;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slide-content {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 25px 20px;
  width: 100%;
  height: 100%;
}

.slide-content:nth-child(1) {
  background: #766352 url("../img/slider 1.jpg") no-repeat;
}

.slide-content:nth-child(2) {
  background: #766352 url("../img/slider 2.jpg") no-repeat;
}

.slider .slider-controls {
  position: absolute;
  top: 215px;
  left: 50%;
  width: 20%;
  height: 20px;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
  z-index: 10;

  background-color: transparent;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slides-container .slide-content {
  display: none;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"] {
  background-color: #ff6467;
}

#slide-1:checked ~ .slides-container .slide-content:nth-child(1),
#slide-2:checked ~ .slides-container .slide-content:nth-child(2) {
  display: block;
}

.slide-content h2 {
  margin: 0;

  font-size: 36px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-content p {
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
}

.slide-content a {
  margin-top: 120px;
}

.slider .btn-slider {
  position: absolute;
  width: 22px;
  height: 40px;

  border: none;
}

.btn-slider.prew {
  top: 115px;
  left: 25px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -496px;
}

.btn-slider.next {
  top: 115px;
  right: 20px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -683px;
}

.mini-catalog {
  font-size: 0;
}

.mini-catalog-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 18px;
  padding: 25px;

  background-color: #f9f5f0;
}

.mini-catalog-header h2 {
  float: left;
  margin: 0;
  padding: 4px 0px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #3d546e;
  font-weight: normal;
  text-transform: uppercase;
}

.mini-catalog-header a {
  float: right;
  width: 253px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font-size: 18px;
  text-align: center;

  border: 1px solid #eaeaea;
}

.catalog-content {
  margin-top: 17px;
  margin-bottom: 28px;
}

.catalog-content,
.mini-catalog-content {
  font-size: 0;
}

.catalog-content .catalog-item {
  margin-bottom: 20px;
}

.catalog-item .product-img {
  display: block;
  height: 150px;
}

.catalog-item .product-info {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0;
}

.catalog-item .product-name {
  display: inline-block;
  width: 160px;
  margin: 0 0 11px 0;
  vertical-align: top;

  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

.product-old-price {
  margin-bottom: 8px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}

.product-new-price {
  display: inline-block;
  position: relative;
  width: 140px;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;

  background-color: #ff5357;
  border-radius: 2px;
}

.product-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;

  border: 20px solid #ffffff;
  border-left-color: #ff5357;
}

.product-name + .product-new-price {
  margin-top: 26px;
}

.mini-catalog-content .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.mini-catalog:not(first-child) {
  margin-top: 20px;
}

.catalog-item .add-links {
  display: none;
}

.catalog-item:hover,
.product-logo-img:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid #ffffff;
}

.add-links {
  height: 150px;
  padding-top: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 0;
}

.catalog-item:hover .add-links {
  position: absolute;
  display: block;
  width: 218px;

  top: 0;
  left: 0;

  background-color: #ffffff;
}

.btn-add.to-cart {
  position: relative;
  width: 135px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  line-height: normal;
  text-align: center;
  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.btn-add.to-cart::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 14px;

  width: 17px;
  height: 16px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -160px;
  opacity: 0.3;
}

.btn-add.to-cart:hover {
  background-color: #5fbb2d;
}

.btn-add.to-cart:hover + .btn-add.to-cart::before {
  opacity: 1;
}

.btn-add.to-cart:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
          box-shadow: 0 3px 0 0 #518534;
}

.btn-add.to-cart:active + .btn-add.to-cart::before {
  opacity: 1;
}

.btn-add.to-bookmarks {
  width: 135px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  line-height: normal;
  text-align: center;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #a1ca8b;
}

.btn-add.to-bookmarks:hover {
  border-color: #32425c;
}

.btn-add.to-bookmarks:active {
  opacity: 0.3;
}

.popular-firms-container {
  font-size: 0;
}

.product-logo-img {
  display: inline-block;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  border: 1px solid #eaeaea;
}

.product-logo-img:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.product-logo-img:nth-child(4n) {
  margin-right: 0;
}

.services {
  margin-top: 65px;
  margin-bottom: 85px;

  background-color: #f4f7f9;
}

.services-desc {
  padding-top: 69px;
  margin-bottom: 25px;
}

.services-content {
  float: left;
  width: 620px;
}

.services h2,
.services h3,
.services p {
  margin: 0;
}

.services-desc h2 {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
}

.services-desc p {
  width: 400px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.services-navigation {
  position: relative;
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-top: 45px;
}

.services-navigation::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 230px;
  width: 10px;
  height: 272px;
  z-index: 20;

  background: transparent url("../img/separator.png") no-repeat;
}

.services-slider input[type="radio"] {
  display: none;
}

.services-navigation .btn-slider-services {
  display: block;
  padding: 11px 20px 19px;

  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #3d546e;

  border-top: 1px solid #4e637c;
  border-bottom: 1px solid #33445b;
  /*box-shadow:
    inset 0 1px 0 0 #405069,
    0 1px 0 0 #293449;*/
}

.btn-slider-services:hover {
  background-color: #293449;
}

.services-content .services-slide{
  min-height: 325px;
}

.services-content .services-slide {
  display: none;
}

#delivery:checked ~ .services-navigation label[for="delivery"],
#guarantee:checked ~ .services-navigation label[for="guarantee"],
#credit:checked ~ .services-navigation label[for="credit"] {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
          box-shadow: 0 1px 0 0 #ffffff;
  border: none;
}

#delivery:checked ~ .services-content .services-slide:nth-child(1),
#guarantee:checked ~ .services-content .services-slide:nth-child(2),
#credit:checked ~ .services-content .services-slide:nth-child(3) {
  display: block;
}
.services-content .services-slide {
  width: 100%;
  height: 100%;
}

.services-slide h3 {
  padding-top: 44px;
  padding-bottom: 35px;

  font-size: 36px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #3d546e;
  font-weight: normal;
  text-transform: uppercase;
}

.services-slide .content{
  width: 275px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.services-slide:nth-child(2) .content {
  width: 380px;
}

.services-slide:nth-child(3) .content {
  width: 280px;
}

.services-slide:nth-child(3) .content a {
  margin-top: 32px;
}

.services-content .services-slide:nth-child(1) {
  background: transparent url("../img/delivery slide.png") no-repeat;
  background-position: top 67px right 0;
}

.services-content .services-slide:nth-child(2) {
  background: transparent url("../img/guarantee slide.png") no-repeat;
  background-position: top 67px right 0;
}

.services-content .services-slide:nth-child(3) {
  background: transparent url("../img/credit slide.png") no-repeat;
  background-position: top 67px right 0;
}

.about-us {
  margin-bottom: 84px;
}

.info {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.contacts {
  float: right;
  width: 300px;
  margin-right: 0;
}

.info h2,
.contacts h2 {
  margin: 0 0 30px;

  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.info p,
.contacts p {
  margin: 0 0 20px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.info p:last-child {
  width: 390px;
}

.info .list-transport-companies {
  margin: 0 0 20px 0;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.list-transport-companies li {
  position: relative;
  padding: 0 5px 20px 35px;
}

.list-transport-companies li::before {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ff716f;
}

.info .btn-more-info {
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts .contacts-desc {
  width: 180px;
  margin-bottom: 30px;
}

.contacts .btn-more-info {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map {
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.page-footer-top {
  padding-bottom: 50px;
  background-color: #3d546e;
}

.footer-main-nav .logo a {
  padding: 17px;
  font-size: 30px;
  line-height: 30px;
}

.footer-main-nav {
  margin-bottom: 28px;
}

.footer-menu {
  float: right;

  font-size: 0;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  display: inline-block;
  vertical-align: top;
}

.footer-menu a {
  display: block;
  margin-top: 33px;
  padding: 5px 0 5px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

.footer-menu.catalog-nav a {
  margin-top: 0;
  padding: 0 0 0 60px;
  color: #ffda96;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  opacity: 0.5;
}

.footer-contacts {
  float: left;
  width: 330px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 4px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.page-footer-bottom {
  padding: 35px 0;

  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #33445b;
}

.copyrights {
  float: left;
  width: 230px;
  margin-right: 160px;
}

.social {
  float: left;
}

.social .btn-social {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 41px;
  vertical-align: top;

  font-size: 0;

  background-color: #29384a;
  border-radius: 50%;
}
.social .btn-social:hover,
.social .btn-social:active {
  background-color: #ee3643;
}

.social .btn-social::before {
  position: absolute;
  content: "";
}

.btn-social-vk::before {
  width: 20px;
  height: 12px;

  top: 15px;
  left: 10px;

  background: transparent url("../img/sprite.png") no-repeat center;
  background-position: -5px -843px;
}

.btn-social-fb::before {
  width: 10px;
  height: 18px;

  top: 11px;
  left: 15px;

  background: transparent url("../img/sprite.png") no-repeat center;
  background-position: -5px -419px;
}

.btn-social-inst::before {
  width: 17px;
  height: 17px;

  top: 12px;
  left: 12px;

  background: transparent url("../img/sprite.png") no-repeat center;
  background-position: -5px -469px;
}

.feedback {
  float: right;
  width: 140px;
}

.about-dev {
  float: right;
  width: 115px;
  margin-left: 45px;
}

.feedback a,
.about-dev a {
  color: #ffda96;
  text-decoration: none;
}

.feedback a:hover,
.about-dev a:hover {
  text-decoration: underline;
}

.feedback a:active,
.about-dev a:active {
  color: #ee3643;
  text-decoration: none;
}

.popup {
  position: fixed;
  width: 620px;
  display: none;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;

  background-color: #ffffff;
  -webkit-box-shadow:
    0 -7px 0 0 #ff5357,
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow:
    0 -7px 0 0 #ff5357,
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.btn-popup-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-popup-close::before,
.btn-popup-close::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  top: 8px;
  right: 0;

  background-color: #ff5357;
}

.btn-popup-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-popup-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-content {
  padding: 47px 80px 30px;
  margin: 0;

  font-size: 0;
  border: none;
}

.form-content .uname,
.form-content .input-name {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.form-content .umail,
.form-content .input-mail {
  float: right;
  width: 220px;
}

.umail,
.uname,
.message {
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.message {
  display: block;
  clear: both;
  padding: 10px 0 10px 1px;
}

.form-content textarea {
  width: 460px;
  overflow-y: hidden;
  resize: none;
}

.form-content input[type="text"],
.form-content textarea {
  padding: 8px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.form-content input[type="text"]::-webkit-input-placeholder,
.form-content textarea::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(169, 169, 169, 1);
}

.form-content input[type="text"]::-moz-placeholder,
.form-content textarea::-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(169, 169, 169, 1);
  opacity: 1;
}

.footer-popup {
  padding: 35px 80px;
  background-color: #f4f4f4;
  border: none;

  font-size: 0;
}

.footer-popup .btn-send {
  width: 100%;
  border: none;
}

.popup .cart-info {
  position: relative;
  margin: 65px 80px 77px;
  padding: 5px 5px 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 30px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.popup .cart-info::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;

  top: -17px;
  left: 0;

  background: #63a63e;
  border-radius: 50%;
}

.popup .cart-info::after {
  position: absolute;
  content: "";
  width: 39px;
  height: 30px;

  top: 2px;
  left: 15px;

  background: transparent url("../img/sprite.png");
  background-position: -5px -212px;
}

div.footer-popup .btn {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

div.footer-popup .btn:last-child {
  margin-right: 0;
}

div.footer-popup .btn-back {
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs {
    padding: 9px 0;
    margin: 15px 0 5px;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs a {
  padding-left: 15px;
  padding-right: 25px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs .home {
  display: block;
  margin-top: 2px;
  padding-left: 0;
  width: 15px;
  height: 12px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -447px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;

  top: 2px;
  right: 0;
  background: transparent url("../img/icon-right-small.png") no-repeat;
}

.catalog-title {
  margin: 0 0 20px 0;
  padding: 28px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f2f6f8;
}

.catalog-filters {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalog {
  float: right;
  width: 700px;

  font-size: 0;
}

.section-header {
  padding: 12px 18px 5px;

  background-color: #f7f3ec;
}

.section-header h2 {
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-filters .section-header {
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.catalog-filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters .filter-price,
.catalog-filters .filter-firm {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filters legend {
  padding: 10px 0 0;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.catalog-filters .range {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.range .bar {
  position: absolute;
  width: 140px;
  height: 2px;
  top: 39px;
  left: 30px;

  background-color: #00ca74;
}

.range .bar::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;

  top: 0;
  left: 140px;

  background-color: #d7dcde;
}

.range .toggle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
          box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);

  cursor: pointer;
}

.range .toggle.toggle-min {
  top: 30px;
  left: 20px;
}

.range .toggle.toggle-max {
  top: 30px;
  left: 160px;
}

.price-controls {
  margin-bottom: 25px;
  font-size: 0;
}

.price-controls .price-value {
  display: inline-block;
  width: 95px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.price-controls span {
  display: inline-block;
  width: 30px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;

  font-size: 16px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-align: center;
}

.catalog-filters .filter-firm legend,
.catalog-filters .filter-power legend {
  padding-top: 20px;
}

.catalog-filters input[type="checkbox"],
.catalog-filters input[type="radio"] {
  display: none;
}

.catalog-filters label {
  position: relative;
  display: block;
  padding: 0 5px 0 34px;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-firm label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;

  top: -1px;
  left: 0;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -252px;
}

.filter-firm label:hover::before {
  background: transparent url("../img/sprite-check.png") no-repeat;
  background-position: -5px -5px;
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;

  background-position: -5px -285px;
}

input[type="checkbox"]:checked + label:hover::before {
  background: transparent url("../img/sprite-check.png") no-repeat;
  background-position: -5px -38px;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled +label {
  opacity: 0.3;
}

.filter-power label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;

  top: -1px;
  left: 0;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -318px;
}

.filter-power label:hover::before {
  background: transparent url("../img/sprite-check.png") no-repeat;
  background-position: -5px -106px;
}

input[type="radio"]:checked + label::before {
  width: 25px;
  height: 25px;

  background-position: -5px -353px;
}

input[type="radio"]:checked + label:hover::before {
  background: transparent url("../img/sprite-check.png") no-repeat;
  background-position: -5px -71px;
}

.catalog-filters .filter-power {
  margin-bottom: 60px;
}

.catalog-filters button {
  border: none;
}

.catalog-filters .btn-filter {
  width: 140px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog .section-header h2{
  float: left;
  width: 130px;
  margin: 0 90px 0 0;
}

.section-header ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.sorting {
  float: left;
  width: 400px;
}

.additional-sorting {
  float: right;
  width: 40px;
}

.section-header li {
  display: inline-block;
  vertical-align: top;
}

.section-header .sorting a {
  display: block;
  width: 120px;
  padding-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: normal;

  text-decoration: underline;
  -webkit-text-decoration-color: #ee3643;
          text-decoration-color: #ee3643;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.section-header .sorting a:hover {
  color: rgba(0, 0, 0, 1);
}

.section-header .sorting a:active,
.section-header .sorting .active-sort {
  color: #ee3643;
  text-decoration: none;
}

.section-header .additional-sorting a {
  display: block;

  font-size: 0;
}

.additional-sorting .sorting-top {
  margin-right: 20px;
}

.additional-sorting a::before {
  content: "";
  display: inline-block;
  vertical-align: top;

  border: 10px solid rgba(0, 0, 0, 0.3);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.additional-sorting .sorting-top::before {
  border-top-width: 0;
}

.additional-sorting .sorting-bottom::before {
  border-bottom-width: 0;
}

.additional-sorting a:hover::before {
  border-color: rgba(0, 0, 0, 1);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.additional-sorting a:active::before,
.additional-sorting .active-sort::before {
  border-color: #ee3643;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.catalog-content .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.pagination li{
  display: inline-block;
  vertical-align: top;
}

.btn-pagination {
  display: block;
  padding: 11px 15px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  border: 1px solid #eaeaea;
  border-radius: 2px;
}

.pagination li:last-child .btn-pagination {
  width: 140px;
}

.btn-pagination:hover {
  background-color: transparent;
  border-color: #bdc6ca;
}

.btn-pagination:active {
  border-color: #ee3643;
}

.btn-pagination.page-active {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
}

.about-perforators {
  margin-top: 58px;
  padding: 70px 0 65px;

  background-color: #f2f6f8;
}

.about-perforators h2,
.about-perforators p {
  margin: 0;
}

.about-perforators h2 {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: normal;
}

.about-perforators p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: normal;
}
/*Для IE 10*/
.product-img img,
.product-logo-img img,
.map img {
  border: none;
}

.popup.map-large {
  width: 940px;
  height: 445px;
  display: none;

  background-color: #eeeae3;
  background-image:
    url("../img/map-large-interactive.jpg"),
    url("../img/map-large.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
          box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}
